<div class="row pt-5">
    <div class="col-md-7">
        <div class="card text-dark mb-3">
            <div class="card-header bg-success text-white">Upcoming invigilations</div>
            <div class="card-body">
                <div class="list-group">
                    <a
                        *ngFor="let invigilation of invigilations$ | async"
                        [routerLink]="['invigilations', invigilation?.key]"
                        class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                {{ invigilation.from.toDate().toDateString() }}
                            </h5>
                            <small>
                                Number of students: {{ invigilation.students.length }}
                            </small>
                        </div>
                        <p class="mb-1">{{ invigilation.classroom }}</p>
                        <small>
                            {{invigilation.from.toDate().toLocaleTimeString()}}
                        </small>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5">
        <app-peek-invigilation [invigilation]="nextInvigilation$ | async"></app-peek-invigilation>
    </div>
</div>
